@import "./../bower_components/sass-autoprefixer/scss/prefixes";

$themeColor-Light: #f3e2c7;
$themeColor-Dark:#b68d4c;

$theme-font: verdana, sans-serif;

* {
  padding:0;
  margin: 0;
}

body {
  font: $theme-font;
  
}
